{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<form action="/changepassword" method="POST">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="old_password"
      name="old_password"
      placeholder="Old Password"
      type="password"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      id="new_password"
      name="new_password"
      placeholder="New Password"
      type="password"
    />
  </div>
  <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}
