{% extends "layout.html" %} {% block title %} Movie Recommender {% endblock %}
{% block main %}
<div class="background-box">
  <h1>Movie Preferences</h1>

  <form action="/form" method="post">
    <h2>Genre</h2>
    <label>
      <input class="checkbox" type="checkbox" name="genre" value="action" />
      Action
    </label>
    <label>
      <input class="checkbox" type="checkbox" name="genre" value="comedy" />
      Comedy
    </label>
    <label>
      <input class="checkbox" type="checkbox" name="genre" value="drama" />
      Drama
    </label>
    <label>
      <input class="checkbox" type="checkbox" name="genre" value="sci-fi" />
      Sci-Fi
    </label>
    <label>
      <input class="checkbox" type="checkbox" name="genre" value="horror" />
      Horror
    </label>

    <label>
      Preferred Length (minutes):
      <input type="number" name="length" min="0" step="1" />
    </label>

    <label>
      Rating (1-10):
      <input type="number" name="rating" min="1" max="10" step="1" />
    </label>

    <button class="btn btn-light" type="submit">Submit</button>
  </form>
</div>

{% endblock %}
