<!-- templates/recommendation.html -->
{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block main
%}
<!-- Your content goes here -->
<h1>Movie Recommendations</h1>

{% if movies %}
<!-- Display movie titles -->
<!-- <ul> -->
{% for movie in movies %}
<div class="movie-card">
  <h2 style="color: black">{{ movie.series_title }}</h2>
  <!-- <p>{{ movie|tojson|safe }}</p> -->
</div>
{% endfor %}
<!-- </ul> -->
{% else %}
<p>No movie recommendations available.</p>
{% endif %} {% endblock %}
