{% extends "layout.html" %} {% block title %} Movie Recommendations {% endblock
%} {% block main %}
<div class="background-box">
  <h2 class="mb-4 text-center">Your Movie Recommendations</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Length</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through the database entries to display them in this table -->
      {% for movie in movies %}
      <tr>
        <td>{{ movie.primaryTitle }}</td>
        <td>{{ movie.genres }}</td>
        <td>demdk</td>
        <td>hello</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- <div class="recommendation-list">
    {% if movies %}
    <ul class="list-group">
      {% for movie in movies %}
      <li class="list-group-item">
        <div class="movie-details">
          <h3>{{ movie.title }}</h3>
          <p>
            <strong>Genre:</strong> {{ movie.genre }},
            <strong>Length:</strong> {{ movie.length }} min,
            <strong>Rating:</strong> {{ movie.rating }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="text-center">Unfortunately, no movies match your criteria.</p>
    {% endif %}
  </div> -->
</div>
{% endblock %}
