<!-- templates/reviews.html-->
{% extends "layout.html" %} {% block title %} Movie Reviews {% endblock %} {%
block main%}
<div class="background-box">
  <h1>Movie Ratings</h1>
  <p>Latest movie reviews</p>
  <div class="card-box">
    {% for review in reviews %}
    <div class="movie-card rec-movie-card">
      <h2 style="color: black">{{ review.movie_title }}</h2>
      <p class="card-text">Rating: {{ review.user_rating }}</p>
      <p class="card-text">{{ review.comments }}</p>
    </div>
    {% endfor %}
  </div>

  {% endblock %}
</div>