{% extends "layout.html" %} {% block title %} Trending Movies {% endblock %} {%
block main %}

<div class="background-box">
  <h2>Trending Movies</h2>
  {% for movie in movies %}
  <div class="movie-card">
    <!-- <img src="{{ movie.image_url }}" alt="{{ movie.original_title }} Poster"> -->
    <h2 style="color: black">{{ movie.title }}</h2>
    <p style="color: black">{{ movie.vote_average }}</p>
    <p style="color: black">{{ movie.vote_count }}</p>
    <p style="color: black">{{ movie.release_date }}</p>
    <p style="color: black">{{ movie.overview }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
